
* {
  box-sizing: border-box;
}

body {
  width: 80%;
  max-width: 900px;
  margin: 2% auto;
}

nav {
  background: #FFB4B0;
}

nav, section {
  border: 1px solid black;
  margin: 0;
}

p {
  color: #000;
}

section {
  min-height: 150px;
  width: 100%;
  margin: 20px 0;
}

ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

li {
  display: inline;
}

select {
  width: 95%;
  margin-left: 0;
  max-width: 200px;
}

input {
  padding: 3px;
  border: 2px solid #000;
  width: 50%;
}

label {
  width:100px;
  clear:left;
  text-align:left;
  margin-top: 5px;
}

input, label {
  float:left;
  margin-bottom: 10px;
}

button {
  background: #e6e6e6;
  font-weight: 900;
  border-radius: 2px;
  border: 1px solid #000;
  padding: 5px 35px;
  cursor: pointer;
  margin-top: 5px;
}

form {
  max-width: 500px;
}

.sidebar {
  color: #000;
  background: #4DD7FA;
}

.main {
  color: #785616;
  background: #FEFAC0;
}

.sidebar div, .main div {
  margin: 10px 15px;
}


.flexbox {
  display: flex;
}

.wrap-space-between {
  flex-wrap: wrap;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.add-music {
  justify-content: center;
}

.music-form {
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
}

.music-form label {
  margin-right: 10px;
}

.music-form div{
  width: 50%;
}

/* Large screen modifications */
@media (min-width: 768px) {
  .reverse {
    flex-direction: row-reverse;
  }

  .sidebar {
    width: 23%;
  }
  .main {
    width: 75%;
  }
  ul {
    text-align: left;
    margin-left: 20px;
  }
}
